[2012-09-08 07:02] brson opened #6 "Move linking info into js.rs"
I keep moving it back to linkhack.rs out of habit, but it does make sense in js.rs. Delete linkhack.rs.

[2013-04-09 13:43] jdm opened #13 "Add high level jsval interface"
Something along the lines of

[code]

I'm tired of importing those RUST_JSVAL_TO_FOO functions everywhere in servo.

[2013-08-29 01:55] evilpie opened #29 "Introduce something like CallArgs"
Using barebones argv and argc is dangerous and annoying. We should add something like get CallArgsFromVp and have the CallArgs class be typesafe and fail on out of bounds access etc.

[2013-09-06 21:51] jdm opened #35 "Clean up shared data in Compartment"
Now that rust supports static JSClass and string data, we can get rid of things like the NamePool, shared global_class field, and more.

[2014-01-11 04:56] metajack opened #46 "context private data not used"
When compartments are created, they set_cx_private to stuff themsevles in the context. However, servo immediately stuff the page in there, so this leaks the context.

We should probably not use cx_private in rust-mozjs.

[2014-03-05 19:46] #35 closed, assigned to nobody

[2014-03-05 21:26] #46 closed, assigned to nobody

[2014-03-09 16:11] #13 closed, assigned to nobody

[2014-04-01 15:17] jdm opened #61 "Remove os::page_size() from stack calculation after upgrading rustc"
It's built in, so adding it explicitly is now incorrect.

[2014-04-01 16:03] #61 closed, assigned to nobody

[2014-10-05 01:03] mukilan opened #108 "Tests do not compile due to unresolved reference '__test' module"
rustc no longer exposes the test runner entry point under '__test' and uses some autogenerated name.

[code]

The attribute "reexport_test_harness_main" allows us to specify the name explicity and can be used instead.

[2014-10-07 02:38] Manishearth opened #110 "Kill trace.rs"
We don't need it anymore, Servo uses `JSTraceable` directly now.

(Waiting for the SM upgrade so as not to worsen rebase issues)

[2014-10-07 02:41] #110 closed, assigned to Manishearth

[2014-10-09 02:21] #108 closed, assigned to nobody

[2014-10-09 02:48] frewsxcv opened #111 "Unable to build on OSX 10.10 (Yosemite)"
[code]

And here's some version information

[code]

I originally encountered this when trying to build servo

[2014-10-09 03:11] #111 closed, assigned to nobody

[2014-12-15 19:14] medimatrix opened #124 "Does not compile on rust-nightly"
The `:s` format trait has been removed from rust `0.13`.

That results in the following error:
[code]

[2015-02-18 12:38] llacroix opened #134 "Create a sample applications"
As there is not yet any kind of documentation on how to use the rust-mozjs binding of the jsapi. It would be cool to have something that mimmick the sample jsapi helloworld app from mozilla. (By documentation I mean user guide and not just reference documentation).

As some things are a bit different, I wasn't able to build an application that works like the minimal application here:

https://deve

[2015-02-27 19:19] jdm commented on #134
I agree that an example app would be nice to have, but I have no time to create it myself. I'm willing to help someone else set it up, however!

[2015-02-27 19:20] jdm commented on #134
And yes, if that wiki page is up to date, it probably uses APIs that are 2.5 years newer than the ones available in this repository.

[2015-02-28 12:30] llacroix commented on #134
I believe the helloworld program there has been the same for at least 2 years.

[2015-06-04 19:35] michaelwu opened #152 "Implement AutoCheckCannotGC"
https://github.com/servo/rust-mozjs/pull/150 doesn't implement AutoCheckCannotGC. bindgen++ should add support for C++ references so we can enforce the use of AutoCheckCannotGC, and then we should implement AutoCheckCannotGC.

[2015-06-05 20:45] michaelwu opened #153 "Make Handle objects take lifetimes"
Handles are currently dangerous right now since they can outlive the Roots that they're taken from. We should make them take lifetimes to avoid that issue. This api is introduced in https://github.com/servo/rust-mozjs/pull/150

[2015-06-18 21:03] michaelwu opened #155 "Do int32 conversions properly on big endian"
https://github.com/servo/rust-mozjs/pull/150 added a hack to convert between i32 and other types, but it probably only works on little endian, and is also ugly. There must be a better way.

[2015-06-19 22:36] michaelwu opened #158 "Generate bindings per platform"
Right now, there's a number of demangling functions which don't work since the mangled names contain types which are different between OSX/Linux or 32bit/64bit. Generating the bindings separately per platform will avoid this issue. This causes issues with the CEF port since the OSX linker wants all symbols to be defined.

CC @zmike

[2015-06-22 08:17] #124 closed

[2015-06-22 08:17] Ms2ger opened #161 "cargo test fails to link"
... and we gate on it now.

[2015-06-22 08:20] Ms2ger commented on #161
CC @metajack @larsbergstrom

[2015-06-24 19:33] metajack commented on #161
@Ms2ger Can you paste a link to a build log that shows this?

[2015-06-24 20:53] Ms2ger commented on #161
http://build.servo.org/builders/cargo-linux/builds/9/steps/cargo%20test/logs/stdio

[2015-06-30 21:20] zofrex opened #163 "Crashes on Runtime::new()"
Test case:

[code]

Result: Crashes

[This is where it crashes on my machine](https://gist.github.com/zofrex/5827f4f22340c8a272a9) (OS X)

vers on IRC volunteered to try it too and got [this slightly different crash](http://pastebin.com/AnDPfQtf) on Fedora 22 ([valgrind output](http://pastebin.com/Exe7gEKd))

[2015-06-30 21:22] michaelwu commented on #163
A `JS_Init` call is necessary first.

[2015-06-30 21:24] zofrex commented on #163
I'm annoyed at myself for wasting my time, and your time... I'm not sure at what point the JS_Init got lost out of my code (from which I prepared this sample) but _of course_ it's necessary first.

Sorry!

[2015-06-30 21:37] zofrex commented on #163
Note to anyone else passing: Runtime::new() used to include a JS_Init call, now it no longer does. This works:

[code]

[2015-06-30 21:37] #163 closed

[2015-06-30 21:38] michaelwu commented on #163
JS_Init is new with the SM upgrade we had recently - the tests in this code don't use them either.

I recommend building with `--features js/debugmozjs` while developing which will enable assertions in SM. Many jsapi issues can be caught with that. The rest are usually caught by running with `JS_GC_ZEAL=4,1`.

[2015-07-01 02:07] zofrex commented on #29
This has mostly been done now:

[code]

.length() would be a nice addition though, .requireAtLeast() would be even nicer.

[2015-07-01 02:11] zofrex opened #164 "Errors are not being reported"
Out of the box, the registered error reporting function is not being called for me. I've narrowed it down to these two lines in Runtime::new():

[code]

Unless both of these options are set to false, the error reporting function doesn't get called on error.

[2015-07-01 02:46] zofrex commented on #163
Thanks Michael, that's very helpful to know!

[2015-07-01 07:10] Ms2ger commented on #164
`autoJSAPIOwnsErrorReporting` should definitely be true for Servo. Paging @bholley.

[2015-07-01 07:17] Ms2ger commented on #29
If you want to add those, I'd be happy to review

[2015-07-01 14:26] Ms2ger opened #166 "Handle should not be able to outlive its Rooted"
Noticed in #165; this is irresponsibly unsafe.

[2015-07-01 14:41] jdm commented on #166
See #153.

[2015-07-01 14:41] #166 closed

[2015-07-01 19:05] bholley commented on #164
Yes. If you want to avoid an error reporting nightmare, Servo should do the following:
1: Set autoJSAPIOwnsErrorReporting and dontReportUncaught everywhere (hopefully on the single JSContext that Servo presumably has).
2: Register a "WarningOnlyErrorReporter", that behaves similarly to the one set by AutoJSAPI::TakeOwnershipOfErrorReporting.
3: Implementing an RAII class like AutoJSAPI, which hand

[2015-07-03 06:46] #161 closed

[2015-07-03 08:08] Ms2ger opened #169 "Implement JSAutoByteString destructor"

[2015-07-03 08:08] Ms2ger opened #170 "Implement JSAutoNullableCompartment constructor/destructor?"

[2015-07-03 08:09] Ms2ger opened #171 "Implement JSAutoStructuredCloneBuffer constructor/destructor?"

[2015-07-03 08:36] Ms2ger opened #172 "Get rid of the drop flag on Heap and Rooted"
CC @michaelwu

[2015-07-03 08:39] Ms2ger opened #174 "Build / run the example from #165 in CI."

[2015-07-03 21:42] zofrex commented on #134
Proposing closing this now that #165 has landed

[2015-07-04 06:44] #134 closed

[2015-07-06 10:02] benoitc opened #176 "is mozjs statically linked?"
Is mozjs actually statically linked? Or does it use system libs?

[2015-07-06 10:07] michaelwu commented on #176
Statically linked on Linux and OSX, dynamically linked on Android and Gonk. mozjs has some changes that aren't upstreamed yet so system libs aren't an option anyway.

[2015-07-06 10:07] #176 closed

[2015-07-06 17:03] llacroix commented on #134
Cool thanks

[2015-07-07 08:43] benoitc commented on #176
ok thanks for the info :)
On Mon 6 Jul 2015 at 12:07 Michael Wu <notifications@github.com> wrote:

[2015-07-22 16:09] ctaggart opened #178 "How to use rust-mozjs on Windows?"
I took a look at the [examples/callback.rs](https://github.com/servo/rust-mozjs/blob/master/examples/callback.rs) and I would like to try using `rust-mozjs`, but I'm not sure how to. Any plans to create a crate?

I was under the impression that I need to [build SpiderMonkey](https://developer.mozilla.org/en-US/docs/Mozilla/Projects/SpiderMonkey/Build_Documentation) on my PC. On this PC, I'm runnin

[2015-07-22 16:11] jdm commented on #178
rust-mozjs works specifically with https://github.com/servo/mozjs which should both be usable from any cargo-using project like so:
[code]

[2015-07-22 16:15] ctaggart commented on #178
That looks much easier! I'll give that a shot.

[2015-08-12 03:08] olsonjeffery opened #183 "get mozjs working on stable/beta channels"
What would this require? There are the feature attributes that mozjs is using.. are they going to be stablized any time soon?

[2015-08-12 03:45] jdm commented on #183
[code]
core_intrinsics is used to return_addr in the implementation of Rooted; I don't know what the stabilization story is there. str_utf16 is used for str::utf16_units. We use link_args for resolving a problem with Android builds. unsafe_no_drop_flag may not be required any more; I'm not sure.

[2015-08-12 06:47] Ms2ger commented on #183
We need to avoid a drop flag for `Rooted` and friends.

[2015-08-12 16:10] jdm opened #184 "Bindgen translates size_t to u32"
jsid is declared with a `size_t asBits` field in `Id.h`, but bindgen turned that into `asBits: u32`.

cc @michaelwu

[2015-08-12 16:50] michaelwu commented on #184
That was fixed a long time ago, though I thought I landed a jsapi generated after the fix.

[2015-08-12 16:50] #184 closed

[2015-08-19 01:39] frewsxcv opened #190 "Need access to JSITER constants"
I'm working on https://github.com/servo/servo/pull/7254 and am utilizing [this function](http://doc.servo.org/js/jsapi/fn.GetPropertyKeys.html). I need access to the constants below for the `flags` parameter:

http://mxr.mozilla.org/mozilla-central/source/js/src/jsfriendapi.h#945

[code]

I'm not too familiar with the inner workings of this repo. How would one go about adding these?

[2015-08-19 02:10] michaelwu commented on #190
Just define them in lib.rs like the other constants. We'll probably get support for constants in bindgen at a later point, but they're manually defined for now.

[2015-08-19 16:41] #190 closed

[2015-08-31 22:15] nox commented on #153
Tried doing this, encountered https://github.com/rust-lang/rust/issues/10501 on the *Op function types.

[2015-08-31 22:27] jdm commented on #153
My attempt lives at https://github.com/jdm/rust-mozjs/tree/handle and https://github.com/jdm/servo/tree/handles .

[2015-09-10 14:54] jdm opened #194 "Make Handle fields private"
It's too easy for inexperienced JSAPI users to turn to manual Handle creation. We should hide the fields and add an unsafe `from_rooted_location` static method instead, so it's clearer what invariants must be upheld.

[2015-09-10 19:18] frewsxcv commented on #194
'inexperienced JSAPI user' here: I have indeed attempted to do this multiple times

[2015-09-10 20:11] michaelwu commented on #194
Was discussing this on IRC. I think we're close to the point where we can directly determine what fields should be public/private using the original headers. I made all the fields public originally to make things easier to use, but it's probably not necessary now. ptr in `Handle<T>` is private, so doing this would also fix this issue.

[2015-09-18 09:18] llacroix commented on #183
How are we supposed to build with those features. It raises an error: "error: #[feature] may not be used on the stable release channel". Yet I would like to simply allow it to build.

[2015-09-18 09:19] Ms2ger commented on #183
We do not support building on non-nightly at this point.

[2015-09-18 11:10] llacroix commented on #183
@Ms2ger  as I understand unstable features cannot be used on stable release of rust. I guess I'll have to install the nightly build then.

[2015-09-18 18:51] llacroix opened #196 "Error E0277 on nightly"
/home/llacroix/.cargo/git/checkouts/rust-mozjs-ebb4917e843c0a11/master/src/jsapi.rs:980     pub defineProperty: DefinePropertyOp,
/home/llacroix/.cargo/git/checkouts/rust-mozjs-ebb4917e843c0a11/master/src/jsapi.rs:977:16: 977:21 note: in this expansion of #[derive_Clone] (defined in /home/llacroix/.cargo/git/checkouts/rust-mozjs-ebb4917e843c0a11/master/src/jsapi.rs)

I'm on nightly from 17/09/2015

[2015-09-18 18:56] jdm commented on #196
https://github.com/rust-lang/rust/issues/28229 perhaps?

[2015-09-18 19:07] bjwbell commented on #196
@jdm doesn't seem like it. https://github.com/rust-lang/rust/issues/28229 exists with rustc 1.4.0-nightly (7780408af 2015-09-01) but rust-mozjs compiles ok.

[2015-09-19 05:41] llacroix commented on #196
@bjwbell I'll give a try with this version. It could be good to point out which rust version compile fine rust-mozjs.

[2015-09-19 14:45] llacroix commented on #196
The problem seems to happen on these definitions:

    pub type ReadTransferStructuredCloneOp =
    ::std::option::Option<unsafe extern "C" fn
                              (cx: *mut JSContext,
                               r: *mut JSStructuredCloneReader, tag: u32,
                               content: *mut ::libc::c_void, extraData: u64,
                               closure: *mut ::libc::c_

[2015-09-19 16:33] jdm commented on #196
I suspect it's the arguments that are raw pointers that are triggering this error, incorrectly.

[2015-09-21 08:22] Manishearth commented on #196
This is a regression, https://github.com/rust-lang/rust/issues/28559

[2015-09-23 07:15] llacroix commented on #196
problem solved with this fix

[2015-09-23 07:15] #196 closed

[2015-10-08 19:58] michaelwu opened #202 "Improve union field accessors in generated bindings"
From https://github.com/servo/rust-mozjs/pull/198

[code]

[2015-10-08 20:00] michaelwu opened #203 "Fix type of FunctionClassPtr and ObjectClassPtr"
From https://github.com/servo/rust-mozjs/pull/198

[code]

This is a bug in bindgen++.

[2015-10-08 20:24] #158 closed

[2015-10-13 08:13] #29 closed

[2015-10-13 08:15] Ms2ger opened #204 "Introduce an initialization function that returns a token."
We could then require that token to call `Runtime::new()`, to ensure that you can't call it if you haven't called `JS_Init()`.

[2015-11-10 13:34] Ms2ger opened #215 "Add a script to regenerate the bindings."
Right now, the necessary knowledge is hidden in the minds of @michaelwu and maybe @vvuk. This is not a sustainable situation. We should ensure anyone can update the bindings with minimal work ASAP.

[2015-11-16 19:49] michaelwu commented on #6
@larsbergstrom removed linkhack.rs in https://github.com/servo/rust-mozjs/pull/197

[2015-11-16 19:49] #6 closed

[2015-11-17 07:48] Ms2ger commented on #215
@michaelwu this is waiting for you.

[2015-11-17 16:11] Ms2ger commented on #215
Apparently @tschneidereit is planning to do this.

[2015-11-17 16:13] tschneidereit commented on #215
I want to have this happen automatically, including an upload to a public place, as happens for the [jsshell packages](https://archive.mozilla.org/pub/firefox/nightly/latest-mozilla-central/).

[2015-11-18 13:22] tschneidereit opened #219 "CallArgs::get should return UndefinedHandleValue instead of panicking for OOB indices"
`CallArgs::get` currently [panics for OOB indices](https://github.com/servo/rust-mozjs/blob/master/src/rust.rs#L576). Instead, it should return `UndefinedHandleValue` like the C++ version does.

/CC @Ms2ger

[2015-11-27 20:34] #219 closed

[2015-12-09 16:29] nox opened #224 "Make define_properties and define_methods take plain old slices"
There is no need to call JS_DefineProperties nor JS_DefineMethods, both of them take a array pointer which must end with a zero-filled entry. We should instead just wrap JS_DefineProperty and JS_DefineMethod.

[2015-12-09 16:33] nox commented on #224
And we should panic on any self hosted property/function when looping, or copy the self-hosted logic from JS_DefineProperties and JS_DefineMethods.

[2015-12-09 16:36] nox commented on #224
http://mxr.mozilla.org/mozilla-central/source/js/src/jsapi.cpp

[2015-12-09 16:38] michaelwu commented on #224
Self hosted funcs are used in the bindings so just crashing isn't a great option.

[2015-12-09 16:40] nox commented on #224
Ok.

[2015-12-22 08:58] Ms2ger commented on #215
I'm all for it happening automatically, but unless that will happen soon, I'd like to at least be able to do a manual upgrade.

[2015-12-22 10:00] tschneidereit commented on #215
Doing one more manual upgrade is all but required anyway. I'd like to do it
in a slightly more useful way than just mergin in a new SM dump, though: by
getting rid of the patches that're no longer required and upstreaming
(clean versions of) those that are. We have buy-in for that from the SM
team.

If you're blocked on this right now, I'm not opposed to a further "quick
and dirty" update before t

[2015-12-22 13:28] Ms2ger commented on #215
[code]

[2015-12-22 13:50] Ms2ger commented on #215
Fixes: https://github.com/michaelwu/rust-bindgen/compare/sm-hacks...servo:upp

[2015-12-26 13:53] nox commented on #215
AFAICT, all the patches on release_37_smhacks are already in LLVM's master.

[2015-12-26 14:47] michaelwu commented on #215
I upstreamed both of them. LLVM master isn't a release though, so that branch is still useful until a release is made with the patches. (if one hasn't been made yet)

[2015-12-30 17:56] ghost opened #228 "Builds fail on Win64 MSVC ABI"
I've tried twice on 2 different computers but it seems rust-mozjs fails when building on with the MSVC rust compiler. (I've built it with Debian x64 w/ Stable)

[2015-12-30 17:58] jdm commented on #228
Since Servo doesn't support Windows yet, nobody has tried this, unfortunately.

[2015-12-30 17:58] jdm commented on #228
That being said, if you paste the errors here we can try to help.

[2015-12-30 17:59] valarauca commented on #228
I have no issue working in Linux. It was just a slow day at work so I pulled my profile and tried to run a cargo test just to see if it would compile. If its not a supported platform I understand.

[2015-12-30 20:28] michaelwu commented on #228
The bindings are generated for itanium c++ mangling so msvc wouldn't work.

[2016-02-01 13:49] Ms2ger opened #237 "Conversion to vector should throw a TypeError"
Code is in `src/conversions.rs`, in `impl<C: Clone, T: FromJSValConvertible<Config=C>> FromJSValConvertible for Vec<T> {`.

Use `throw_type_error()` for the case where `is_object()` is false. The error should be something along the lines of "value is not an object".

[2016-02-01 14:42] stspyder commented on #237
@Ms2ger shouldn't we also throw a type error at https://github.com/servo/rust-mozjs/blob/master/src/conversions.rs#L517 for when a object without length property is passed on?

[2016-02-01 14:55] Ms2ger commented on #237
I don't remember when that case can be hit. We probably should for now.

[2016-02-01 15:09] jdm commented on #237
`new Blob({0: "foo"})`, I'm pretty sure.

[2016-02-01 21:05] ecoal95 commented on #237
Don't we already throw from the generated code if all the possible conversions fail?

[2016-02-01 21:42] nox opened #239 "Remove old feature raw_pointer_derive"
[code]

[2016-02-02 09:03] Ms2ger commented on #237
The contract for `from_jsval` says "If it returns `Err(())`, a JSAPI exception is pending." The handling in unions/overloads is broken, because we don't use for-of iteration, as we should. We'll have to figure out a way to do that correctly once the implementation here has been fixed.

[2016-02-13 07:11] KiChjang commented on #239
Whoops, did this by mistake.

[2016-02-13 07:12] KiChjang commented on #237
Fixed by #238.

[2016-02-13 07:12] #237 closed

[2016-02-13 11:03] #239 closed

[2016-03-08 01:23] ecoal95 opened #246 "Intermittent crash when testing"
Today the test build got a segfault on travis on #245 (see: https://travis-ci.org/servo/rust-mozjs/builds/114398074).

I was able to reproduce it intermittently. Here's the backtrace:

[code]

Running a single test at a time I don't seem able to reproduce the issue, maybe a race condition due to multiple runtimes started simultaneously?

[2016-03-08 08:54] Ms2ger commented on #246
Yeah, that's not good. We need to call `JS_Init` from `std::sync::Once`, and set `RUST_TEST_THREADS=1`.

[2016-04-05 16:17] jdm opened #251 "Port js.cpp to create a standalone shell for performance testing"
https://dxr.mozilla.org/mozilla-central/source/js/src/shell/js.cpp?from=js.cpp

[2016-04-05 16:26] tschneidereit commented on #251
I started working on just that last Fall. It makes a lot of sense to do, and we should make it a dedicated effort eventually.

[2016-04-05 16:27] tschneidereit commented on #251
Now with a link: https://github.com/tschneidereit/mozjs-shell

[2016-04-18 13:25] Ms2ger opened #254 "Set up CI for linux32"
CC @larsbergstrom @metajack @edunham

[2016-04-18 13:29] larsbergstrom commented on #254
Do you mean arm32 linux (yay, exciting!) or i686 32-bit linux (if so, why?)?

If this is just for rust-mozjs, it should be straightforward to do either/both of those via travis.

If it's for i686 and you want to have it on servo/servo, I've already used up a lot of the developer patience budget for 2016 adding higher-priority platforms (windows, aarch64, arm32) and I'm hesitant to add another to t

[2016-04-18 14:08] jdm commented on #254
Presumably the main reason is that we generate bindings for 32-bit linux but all the tests exercise the 64-bit bindings instead.

[2016-04-18 15:19] Ms2ger commented on #254
Anything that exercises the linux32 bindings; don't care much about which exact platform or whether we have it on servo/servo.

[2016-04-20 07:34] Ms2ger opened #256 "GCMethods does not need a type parameter"
It should use `Self`.

We should probably wait for the in-progress SpiderMonkey upgrade to land.

[2016-04-25 11:34] Ms2ger opened #259 "Consider having Runtime::new enter a request"
https://github.com/servo/rust-mozjs/pull/258#issuecomment-213615809

If that's true, we wouldn't have to deal with requests in any code downstream of this crate (which would make me very happy!).

[2016-04-27 15:54] frewsxcv opened #262 "Move github.com/servo/mozjs in-tree as mozjs-sys?"
This has been discussed a few times on IRC. Thought I might as well create a tracking/discussion issue. Thoughts?

[2016-04-27 16:27] tschneidereit commented on #262
Ideally we'd not need mozjs at all in the future. The plan is to be able to use pristine upstream from a tarball. In that case moving mozjs in-tree here seems counterproductive.

[2016-05-13 12:09] Ms2ger commented on #259
See also discussion in https://bugzilla.mozilla.org/show_bug.cgi?id=1267297

[2016-05-13 12:24] #259 closed

[2016-05-27 16:45] jdm opened #266 "Set up appveyor CI"

[2016-06-16 20:09] Ms2ger opened #269 "`FromJSValConvertible` for `Vec` is missing an object check"
See https://heycam.github.io/webidl/#es-sequence

CC @emilio @nox

This is covered by `FileAPI/blob/Blob-constructor.html`, but an explicit test in this repo would be nice.

[2016-06-27 09:36] Ms2ger opened #273 "Should Rooted::ptr be an UnsafeCell?"
The point is that the GC can mutate its value behind our backs.

CC @eddyb

[2016-06-27 09:40] nox commented on #273
I think it should, but we are entering the realm of things that not even a servo-bindgen hack can cover I fear. Should we revisit the idea of writing more bindings by hand?

[2016-06-28 19:30] fitzgen commented on #273
Yes, it most definitely should be an `UnsafeCell`. GC things moving and the collector updating pointers is exactly the kind of thing that rustc can't understand and needs to be told about, AFAICT.

[2016-08-01 15:34] Ms2ger commented on #266
https://github.com/servo/rust-mozjs/pull/281

[2016-08-01 15:34] #266 closed

[2016-08-02 15:11] Ms2ger opened #282 "Rewrite FromJSValConvertible to better support unions"
There are three cases to consider when converting a JS value to a Rust value:

1. Successful conversion
2. Impossible to convert the value
3. Exception is thrown from within the JS engine somewhere.

An example of case 3 happens when converting `{ get [Symbol.iterator]() { throw 7; } }` to a `sequence` type.

Right now, the signature is

[code]

and we use `throw_type_error` to set a pending excep

[2016-08-02 15:13] GuillaumeGomez commented on #282
Ok, now I understand better what's expected. I'll try to do something based on this piece of information.

[2016-08-02 18:04] KiChjang commented on #282
The `Result<Self, Error>` approach makes the most sense to me.

[2016-08-03 10:21] Ms2ger commented on #282
I would prefer one of the two variants that allow `try!()`.

C @jdm @Manishearth

[2016-08-03 11:24] nox commented on #282
`Result<Result<Self, String>, ()>` makes the most sense to me, especially the unit part, because that means caller just need to `try!` the outer `Result` to return early in case of pending exception.

[2016-08-03 13:32] jdm commented on #282
I'm in favour of `Result<ConversionResult<Self>, ()>`.

[2016-08-03 13:49] nox commented on #282
After discussing on IRC, @jdm, @Ms2ger and myself decided on

[code]

[2016-08-03 13:52] Ms2ger commented on #282
`Cow<'static, str>`, that is.

[2016-08-03 21:38] GuillaumeGomez commented on #282
Ok, I'll give it a try.

[2016-08-05 21:52] nox commented on #282
@Ms2ger What if the failure case was a `ConversionResult::Failure(ConversionError)`, and the inner error can be promoted to a throw with a `unsafe fn throw(self, cx: *mut JSObject) -> Result<ConversionResult<_>, ()>` method?

This way we can do:

[code]

[2016-08-19 16:48] #282 closed

[2016-08-23 14:52] nox opened #292 "Review soundness of ObjectValue and friends."
These functions take a `&JSObject`, but `JSObject` is an empty type. This is worrying because doing just `*obj` on it is UB.

[2016-08-23 14:54] nox opened #293 "Forbid rooted! outside of unsafe code"
Its `cx` argument is a raw pointer and thus the whole operation is unsafe.

[2016-08-23 14:57] Ms2ger commented on #292
Yeah, that was a stupid idea on my part. It should just take `*mut JSObject`.

[2016-10-07 00:59] emilio opened #308 "Debug build failure on debian."
@anholt over in https://github.com/servo/servo/pull/13629:

[2016-10-07 01:03] emilio commented on #308
This belongs to mozjs, see https://github.com/servo/mozjs/issues/106

[2016-10-07 01:03] #308 closed

[2016-11-02 01:22] DemiMarie commented on #292
I have a PR coming – just doing a local build.

[2016-11-02 08:24] emilio commented on #292
This is fixed now.

[2016-11-02 08:24] #292 closed

[2016-11-07 09:09] nox opened #312 "Bind functions needed to implement GetArrayIndexFromId correctly"
http://searchfox.org/mozilla-central/source/dom/bindings/DOMJSProxyHandler.h#196
https://github.com/servo/servo/issues/14093

[2016-11-07 09:21] emilio commented on #312
Permalink to Gecko's source: http://searchfox.org/mozilla-central/rev/f5c9e9a249637c9abd88754c8963ecb3838475cb/dom/bindings/DOMJSProxyHandler.h#196

[2016-11-15 00:33] jimblandy opened #315 "Statically ensure that Rust code follows JSAPI status conventions"
It would be kind of cool if there were a way to statically check that Rust code always converted `Result` values into the proper "return `true` and clear `JSContext` exception / return `false` and store exception on `JSContext`" rules. Below is one idea: a function that returned the hypothetical `jsapi::Status` type which could only be constructed by putting the `JSContext` in the right state:
[co

[2016-11-15 00:52] jdm opened #316 "Make high-level wrappers that require &JSAutoCompartment arguments for APIs that need an active compartment"
Now that promises are becoming more popular in Servo, several people without JSAPI experience are experiencing crashes because they're manipulating promises from async events that don't have an active JS compartment. It would be a huge improvement if this were impossible.

[2016-11-15 01:22] KiChjang commented on #316
Huh, taking in an `&JSAutoCompartment` means that the caller is responsible of exiting the compartment, meaning the developer still needs to be aware of properly scoping the `JSAutoCompartment` variable, releasing it when it is not needed. I'm thinking of making them accept a `JSAutoCompartment` instead, but that also seems like a bad idea, since that's an unintended side effect.

[2016-11-15 01:36] jdm commented on #316
I don't see the issue here; this API design would encode the existing semantics of using compartments (ie. a caller could have already entered a compartment; my code needs to be deliberate about entering a compartment if there's a particular compartment that needs to be entered).

[2016-11-15 02:14] KiChjang commented on #316
I'm just wondering whether it'd be also great if we can fully utilize Rust's ownership features to also hide the details of "entering a compartment" because it's not obvious what it does to a newcomer, unless you already had experiences with the JS engine, although maybe I'm being a little bit too idealistic here.

[2016-11-15 02:51] jdm commented on #316
I'm open to ideas, but transferring ownership of a JSAutoCompartment breaks the RAII style of use that it's traditionally for.

[2016-11-15 17:29] fitzgen commented on #315
Neat!

I have some instinctual reservations about types that have slightly magical behavior depending on which side of the FFI boundary you're on, but I don't know how well motivated that reaction is.

Down the line, we plan on making a Real and Official embedding API in Rust for SpiderMonkey, and I hope that this will mean that raw JSAPI is mostly hidden from Rust embedders. Once that happens, we

[2016-11-16 08:09] ejpbruel commented on #315
Oh, this is a neat idea!

One thing to keep in mind: in practice, the JSAPI status convention is
*not* to return a boolean, but to return a falsy value. *Most* of the time
that turns out to be a boolean, but there are at least some JSAPI functions
that return a pointer instead.

In practice, this is probably not a problem though, since you could always
write your functions so that instead of retur

[2016-12-05 19:58] KishanV commented on #164
How can I enable error reporting on current rust-mozjs version....

[2016-12-05 21:47] Ms2ger commented on #164
SpiderMonkey no longer calls a callback to report errors, just warnings (`SetWarningReporter`). You'll need to handle errors yourself when appropriate; there's [some code in Servo](https://github.com/servo/servo/blob/6c3e94805f74e78b091b37fe374af12ad2249528/components/script/dom/bindings/error.rs#L200) you might be able to reuse.

[2016-12-05 21:47] #164 closed

[2016-12-09 10:02] pathikdevani commented on #178
@ctaggart  you got success using rust-mozjs in windows?

[2017-01-12 15:20] #256 closed

[2017-02-02 16:16] jdm opened #330 "Can't use typedarray macro with generics"
It is not possible to write a function that accepts a generic type that's bounded by TypedArrayElement and extracts a typed array from a JSObject pointer. The macro doesn't like `typedarray!(in(cx) let foo: TypedArray<T> = ...)` because it accepts an `ident`, not a `ty`, and making it accept a `ty` yields `$crate::typedarray::TypedArray<T>::from(...)` which is obviously incorrect.

[2017-02-02 16:23] jdm opened #331 "Add a method to ArrayBufferView that invokes JS_GetArrayBufferViewType"
There's a JS_GetArrayBufferViewType method that returns a enum indicating the concrete type of a JS typed array. We should add a convenience method to the high-level ArrayBufferView type that invokes it on the contained pointer and returns the result.

Code: `typedarray.rs`
Test: add a test to `tests/typedarray.rs` and run via `cargo test`

[2017-02-02 16:25] emilio commented on #330
We had some custom code for making the `no_jsmanaged_fieds` macro work with generics IIRC, probably we can do something similar.

[2017-02-02 19:15] jdm opened #332 "TypedArray::from method should protect against null pointers"
We should add a testcase to `tests/typedarray.rs` that uses the `typedarray!` macro on `ptr::null_mut()`, and write code that correctly returns an Err value if that's encountered.

Code: `src/typedarray.rs`

[2017-02-06 14:41] zakorgy commented on #332
@jdm I would like to try this.

[2017-02-06 15:20] emilio commented on #332
Nice! Let us know if you need any help :)

[2017-02-06 15:23] zakorgy commented on #332
Thanks @emilio. If I'm correct, the test case should be look like this:
[code]

[2017-02-06 15:27] jdm commented on #332
That looks right!

[2017-02-06 15:28] jdm commented on #331
@bd339 Would you like to work on this? We can use it to replace some places in Servo that invoke this code directly.

[2017-02-06 15:57] bd339 commented on #331
Yeah I can take it on. Thanks for taking the time to find it.

[2017-02-06 21:03] #332 closed

[2017-02-09 19:15] jdm opened #336 "Modify TypedArray::create API to accept either a length or an initial slice"
For cases when we create a new typed array with an initial slice, we always want to use the length of the provided slice. Passing the same length as another argument is redundant; we should use a custom enum argument instead (eg. `CreateWith::Length(5)` and `CreateWith::Slice(foo)`).

Code: `src/typedarray.rs`
Tests: `cargo test --name typedarray` (`tests/typedarray.rs`)

[2017-02-09 21:42] simon-whitehead commented on #336
This looks like a great first PR. Mind if I give it a shot? I may need some guidance around code/test style but hopefully I won't need too much hand-holding.

[2017-02-09 23:12] jdm commented on #336
Please do!

[2017-02-11 02:35] simon-whitehead commented on #336
@jdm Are you able to give me some guidance/documentation around versioning? I imagine I'll be required to bump the crate version?

[2017-02-11 04:01] jdm commented on #336
We use a git dependency for rust-mozjs the crate version doesn't actually matter for that case. This crate is also not published to crates.io, so we generally have not been updating the version.

[2017-02-11 05:18] KiChjang commented on #336
Fixed by #337.

[2017-02-11 05:18] #336 closed

[2017-02-14 21:47] jdm commented on #331
@bd339 Have you made any progress on this?

[2017-02-15 07:23] bd339 commented on #331
I have looked into it, but I ran into a problem with building this crate. How am I supposed to build the  rust-mozjs crate? I tried a simple `cargo build` after cloning, but I got this error message:
[code]

[2017-02-15 11:11] emilio commented on #331
It seems you may be using an old rust version? Which version are you using?

[2017-02-15 11:25] bd339 commented on #331
Not at the pc in question right now, but I think it is cargo version 0.8.0.

[2017-02-15 19:36] bd339 commented on #331
Yeah you were right @emilio, I got it to build after updating rust and configuring it to use the nightly toolchain. Thanks.

[2017-02-17 05:46] #331 closed

[2017-03-24 13:56] jdm opened #343 "Heap constructor is unsafe"
The Heap constructor calls `Heap::set` which triggers a post barrier. This stores the current address of the value stored inside the Heap, which will be moved once the Heap constructor returns. I have not yet been able to think of a way to prevent people from calling `Heap::set` before the `Heap` value has stopped being moved, short of making the `Heap` constructor return a Box instead.

[2017-03-29 13:42] vmx opened #345 "Compilation for Android x86 fails"
I tried to compile `rust-mozjs` for Android x86. It fails with the error below. I suspect that there's a mismatch between the platform headers and the actual platform. On Android x86 `c_char` is `i8` on ARM it's `u8`.

I have no clue, why it would expect an ARM-stlye `u8` although I compile for x86. I'm happy to work on a fix if anyone tells me where to look.

[code]

[2017-03-29 14:00] jdm commented on #345
The issue is that the generated bindings use std::os::raw::c_char, and our code uses libc::c_char. In the past these types have been identical, and now they are not for some reason. https://github.com/rust-lang/rust/pull/40317 just merged four days ago, so rust-mozjs requires a more recent nightly version in order to avoid this problem. For Servo, this can be addressed by updating the contents of

[2017-03-29 20:50] vmx commented on #345
I've updated rust via rustup, my system is now on

    nightly-x86_64-unknown-linux-gnu updated - rustc 1.17.0-nightly (ccce2c6eb 2017-03-27

Which is after the commit https://github.com/rust-lang/rust/commit/24be89980e2e89404075fe463edae0f5db369251 mentioned above. The error is still the same.

[2017-03-30 00:25] jdm commented on #345
Unless you are building rust-mozjs standalone, your local compiler (as updated by rustup) has no effect on the Servo build system. Are you building Servo (via `./mach build`), or rust-mozjs (via `cargo build`)?

[2017-03-30 03:04] vmx commented on #345
I'm building rust-mozjs standalone (it's all I care about atm). See the exact command I'm building with on the original bug description.

[2017-03-30 14:25] vmx commented on #345
It builds now. My nightly build wasn't recent enough as as fix got merged with https://github.com/rust-lang/rust/pull/40867 just two days ago. Another `rustup update` got me to version `rustc 1.17.0-nightly (e1cec5d4b 2017-03-29)` which is recent enough. Thanks @jdm for finding that out.

[2017-03-30 14:25] #345 closed

[2017-03-30 17:03] vmx opened #346 "Linker fails when compiling tests for Android"
The linker fails when running the tests via `cargo test --target=arm-linux-androideabi`. See the error and full command line below:

[code]

In case you want to have a simple file to compile, an almost minimal example that shows the same issue is:

[code]

[2017-03-30 20:48] emilio commented on #346
Seems that we're not linking the ndk on android. I'm not sure whether that should be done on this crate or on the executable. Perhaps explicitly linking it fixes the problem for you?

[2017-03-30 21:05] vmx commented on #346
Explicit linking on the executable sounds good to me. Do you have any pointers on how to do that?

[2017-03-30 21:35] jdm commented on #346
https://github.com/servo/servo/blob/master/ports/servo/build.rs looks like it might be relevant to that.

[2017-04-03 22:18] vmx commented on #346
I played around with @tomaka's `android-rs-glue` and tried to understand what it does differently (it use its own linker script). Sadly (after a few hours) I sadly still can't build my code for Android. Further help is appreciated (else I'll keep digging some other time).

[2017-04-05 22:29] vmx commented on #346
The linking is successful when I add `--sysroot /home/vmx/src/rust/android/android-ndk-r12b/platforms/android-18/arch-arm -shared` at the end of the linker command. Though that means that a shared library is created, which isn't really what I want, is it?

[2017-04-09 12:48] jdm opened #347 "Shut down the parent runtime before calling JS_ShutDown"
Right now if you use the debug-mozjs feature, you get a big "YOU ARE LEAKING THE WORLD" warning when JS_ShutDown runs. This is because the implicit parent runtime still exists at program shutdown, but avoiding that is more complicated that manually destroying the runtime. Since it's created on the same thread as the first thread that invokes `Runtime::new`, it says a TLS with that runtime, and thi

[2017-04-09 12:54] tschneidereit commented on #347
Depending on how urgent it is to fix this, it might make sense to just
leave it be for now: the next smup will bring the current parts of [bug
1323066](https://bugzilla.mozilla.org/show_bug.cgi?id=1323066) and change
much of how this all works.

[2017-04-09 13:45] nox opened #348 "Change how the parent runtime is destroyed and JS shut down"
Instead of forbidding users to ever be able to initialise a new `Runtime` after all previously created runtimes were destroyed, we should provide a function `shutdown` to be called explicitly whenever the user want to call it.

The function would panic if there are still runtimes existing, and creating a new runtime after it was successfully called would panic too.

[2017-04-09 13:47] nox commented on #348
Cc @jdm @chrmod

[2017-04-09 13:49] chrmod opened #349 "Cannot get rust-mozjs base project to build on appveyor"
I'm getting quite enigmatic error message:
https://ci.appveyor.com/project/chrmod/traeger/build/1.0.6/job/rkgyqc1rwsx7449c#L76

Can someone more experience with rust-mozjs please take a look and suggest a solution?

Linux and MacOS builds on travis-ci work just fine.

[2017-04-09 17:16] chrmod commented on #349
by reusing rust-mozjs appveyor.yml config I've got it running. Will distill it down and maybe add a pull request for README.

[2017-04-09 20:57] jdm commented on #347
I would call this not urgent.

[2017-04-11 12:10] vmx commented on #346
If someone wants to try it on a stand-alone minimal example repository, I've created one: https://github.com/vmx/rust-mozjs-issue-346

[2017-04-17 14:07] MortimerGoro commented on #343
I think that I got a new instance of this issue. The gamepad implementation worked great until I moved the typedarray from a setter to the heap constructor after a suggestion in  the PR code review. Now there is a GC related crash in about 30 seconds after running the app.

Here you can see the commit with the failing and working version: https://github.com/MortimerGoro/servo/commit/644114df47e463

[2017-04-17 15:51] jdm commented on #343
Yes, that's the exact same symptom and solution as https://github.com/servo/servo/issues/15445.

[2017-04-17 18:37] asajeffrey commented on #343
Rather drastic suggestion: can we remove the constructor? Or mark it as `unsafe`? The fix in (e.g.) https://github.com/servo/servo/pull/16500/files#diff-ee0d03fc9e0cdadcde40c50bd0f8369eL38 is to replace the constructor by a use of `Heap::default()` followed by an explicit `set` after the heap object has finished moving.

[2017-04-17 22:28] jdm opened #351 "Heap::mut_handle avoids the GC barriers"
This looks totally unsafe to me. It probably needs to be removed.

[2017-04-17 22:30] jdm commented on #343
Yes, we should remove the constructor.

[2017-05-19 16:55] robertlong opened #359 "Error Building On Windows "The system cannot find the file specified""
Having trouble getting `rust-mozjs` to build on Windows 10. I'm not sure how to figure out what file can't be found.

[code]

Python 2.7 is installed and on the PATH
[code]

[2017-05-19 17:00] jdm commented on #359
You appear to be missing `make`: https://github.com/servo/mozjs/blob/master/build.rs#L37-L42

[2017-05-19 18:15] robertlong commented on #359
Ahh, yeah I missed that line in the backtrace. Thanks!

I'm still having issues with make though:

[code]

It looks like [OUT_DIR](https://github.com/servo/mozjs/blob/master/makefile.cargo#L69) might be wrong?

[2017-05-19 18:37] jdm commented on #359
Plausible! We're not doing mingw builds in our automation any more, so it's plausible that it got broken at some point.

[2017-05-19 20:59] KiChjang commented on #359
I'm hitting this issue as well. I thought we've since switched all our infrastructure to be using MSVC builds instead? How does mach even work in servo for MSVC builds?

[2017-06-01 14:09] RReverser opened #363 "bindings-all.py passing unknown params to bindgen"
These params cause bindgen to throw errors:

[code]

Could you clarify if these are simply outdated or you're using some private fork of bindgen with support for these? If the latter, any chance to send changes upstream so that we could all run bindings generator?

[2017-06-01 15:18] jdm commented on #363
It's much more likely that the code in the tree is using an outdated version than a private fork.

[2017-06-01 16:04] RReverser commented on #363
Yeah looks like that. For example, `allow-unknown-types`: https://github.com/servo/rust-bindgen/commit/8ed69e853f249e71c7b1f8f24b0297f2473d1e31

But then, there is no analogy for `--match` in up-to-date version, and the script seems to heavily rely on it to filter files instead of functions/types/...

[2017-06-01 16:32] jdm commented on #363
There's ongoing work to integrate this work with upstream Spidermonkey automatically, which is really the future of this repository: https://bugzilla.mozilla.org/show_bug.cgi?id=1277338

[2017-06-15 02:13] jdm commented on #343
I want to apply this patch:
[code]
but I need to wait until https://github.com/servo/servo/pull/17056 merges first, since that removes all uses of Heap::new from Servo's code.

[2017-06-15 15:10] asajeffrey commented on #343
If moving heap values after they are set, then growing types like `Vec<Heap<JSVal>>` are unsafe, and need to be `Vec<Box<Heap<JSVal>>>`. As @jdm said, the only obvious fix is to mark the constructor as `unsafe`, and provide a safe constructor which returns a `Box<Heap<T>>`. Rather annoyingly, this means `Heap` can't implement `Default`, since `default` is required to be safe.

[2017-06-15 15:38] jdm commented on #343
No, the existing heap default is safe. Undefined and null values do not cause any issues.

[2017-06-15 15:39] jdm commented on #343
By itself, `Vec<Box<Heap<JSVal>>>>` is also unsafe, since the engine has no idea that the vector exists. We would need to use Servo's RootedVec for that.

[2017-06-21 21:58] asajeffrey opened #366 "Add AutoValueVectorWrapper"
We currently have a wrapper for `AutoObjectVector` but not for `AutoValueVector`.

[2017-06-21 22:00] asajeffrey commented on #366
IRC conversation with @jdm: http://logs.glob.uno/?c=mozilla%23servo&s=21+Jun+2017&e=21+Jun+2017#c702965

[2017-08-17 17:07] Fiveside opened #367 "Segfault when calling JS_GetPendingException"
I'm playing around with the mozjs rust bindings, but I'm getting a segmentation fault when I run a script that throws an exception when it runs.
[code]
The equivalent C++ seems to run fine, but this just crashes.  What is the correct way to inspect an error that occurred during initial script execution?

[2017-08-17 17:19] jdm commented on #367
In general, the first step when investigating odd behaviour with rust-mozjs is to enable the debugmozjs cargo feature and use a non-release build. I suspect the error you will see will complain that you are not in a compartment; you can avoid this by adding something like `let _ac = AutoCompartment::new(cx, global.get());`.

[2017-08-17 17:44] Fiveside commented on #367
Aha!  I had misunderstood the difference between compartments and rooted values.  Re-reading the documentation cleared that up for me.  Yes, switching compartments did fix the problem.  Unfortunately, enabling `debugmozjs` and running without the compartment still caused a segmentation fault.  Once I cleared that up however, I have much more descriptive debugging messages.

Thanks for your help!

[2017-08-17 17:44] #367 closed

[2017-09-22 13:18] ctaggart commented on #349
This should probably be closed.

[2017-09-22 19:40] ctaggart opened #369 "easy to use or higher level wrappers?"
Are there any simpler wrappers for https://github.com/servo/rust-mozjs ? I just want to load typescript.js, get `ts` variable, call `ts.createNode` function and a few other functions. I [attempted to do that](https://github.com/darfink/chakracore-rs/issues/21#issuecomment-327452792) with a chakracore wrapper, but got stuck.

[2017-10-15 16:19] nox opened #374 "TypedArray::from should be unsafe"
It takes raw pointers and dereferences them.

[2017-10-15 21:18] vmx commented on #346
Seems to be fixed. I haven't tried if it actually runs on Android, but at least I don't get an error message when I compile it. Thanks a lot for fixing it.

[2017-10-15 21:18] #346 closed

[2017-10-31 17:57] asajeffrey opened #376 "Publish on crates.io"
It would be nice to play well with the Rust ecosystem. This is a blocker to publishing anything that depends on mozjs, e.g. https://github.com/asajeffrey/josephine/issues/35

cc: @jdm @tschneidereit @fitzgen @nox

[2017-11-04 16:47] alex opened #378 "Compile with ASAN?"
Rust has the ability to compile code with ASAN, and spidermonkey also supports being compiled under ASAN. However, as far as I can tell, if you compile `rust-mozjs` with ASAN, the spidermonkey code doesn't actually end up with ASAN.

It'd be great if ASAN were propagated down so that the dangerous C++ also was sanitized. Cheers!

[2017-11-04 18:31] alex commented on #378
I believe this also applies to the sanitizer-coverage flags.

[2017-11-04 20:14] alex commented on #378
From looking at http://doc.crates.io/environment-variables.html#environment-variables-cargo-sets-for-build-scripts, I'm concerned that there's no way for `build.rs` to know that either ASAN or sancov are being used in compiling the rust code.

[2017-11-07 14:37] jdm commented on #369
You will probably be interested in https://github.com/asajeffrey/josephine/!

[2017-11-07 20:19] #376 closed

[2017-11-23 15:35] jdm opened #380 "Make build script use rerun-if-changed"
Right now any time you modify one of the test files, the whole library needs to be rebuilt. We should scope the rebuild to any file in src/ instead.

[2017-11-27 14:01] #380 closed

[2017-11-27 20:18] marmistrz commented on #153
I'll work on this as a part of my Bachelor's thesis.

[2017-12-08 21:07] marmistrz commented on #153
@jdm leaving a comment here since crowbot seems to be absent.
[code]

[2017-12-08 23:26] jdm commented on #153
There were build errors that I encountered that I was not sure how to solve. It would have been smart if I had left a record of them anywhere, but I am not smart unfortunately.

[2017-12-08 23:26] jdm commented on #153
Rather, the rust-mozjs PR seemed fine. It was the Servo one that ran into difficulties.

[2017-12-24 21:49] DustinByfuglien commented on #359
I'm give this error when try to compile libservo with rust-nightly.
Is there a straightforward instruction about how to compile rust_mozjs?

[2017-12-28 17:56] jdm commented on #359
@DustinByfuglien What if you run the build with `RUST_BACKTRACE=1`?

[2018-03-16 13:07] Xanewok commented on #343
Since I touched Heap construction/code recently, I intend to work on this over the next couple of days if possible.

I tried to comment the `FromJSValConvertible for Heap<JSVal>` impl and it seems that only dict members of `Heap<{JSVal, *mut JSObject}>` type seem to be the offenders here? I can try to combine this with https://github.com/servo/servo/pull/20265#issuecomment-372838379 and see where

[2018-03-16 13:32] jdm commented on #343
Yes, as far as I know a vector of boxed heap values would be safe.

[2018-03-18 14:36] #343 closed

[2018-03-21 15:07] nox opened #399 "The typedarray macro should be unsafe to use"
Its `cx` thing is a raw pointer that could be anything.

[2018-03-21 15:20] nox opened #400 "CustomAutoRooterGuard::handle{,_mut} should probably be unsafe"
The `Handle` stuff and whatnot are quite hard to use safely, they don't even have a lifetime, etc.

[2018-03-23 05:47] 3442853561 opened #403 "Does it support Wasm?"
Does it support Wasm?

[2018-03-23 06:06] jdm commented on #403
It does not. That should come with the next update from upstream.

[2018-03-23 06:06] #403 closed

[2018-03-23 15:14] #351 closed

[2018-03-23 19:01] jdm opened #405 "Allow rooted! macro to use default initializer when none is specified"
https://github.com/servo/rust-mozjs/blob/8fe9be3fabad5ebe95dca9b3eceb4a3a3ac052da/src/rust.rs#L458-L468 currently requires an initializer value. We should make it so that if none is provided we pass Default::default() instead.

[2018-03-23 19:07] jdm commented on #405
This may require a different macro syntax like `rooted!(in(cx) let $name:ident: $type:ty)` which expands to `$type::default()`.

[2018-03-24 16:22] jdm opened #406 "Add bindings for DataView typed array"
It will be very similar to the ArrayBufferView typed array bindings.

[2018-03-25 14:57] anthgur commented on #406
@jdm I think this might be a prerequisite to https://github.com/servo/servo/issues/20417 so I can take a crack at it too.

[2018-03-25 20:51] jdm commented on #406
So it looks like we can't reuse the macro because the JS API for DataView objects functions a little differently. We'll need to hand-write [this implementation](https://github.com/servo/rust-mozjs/blob/master/src/typedarray.rs#L268-L285) to use UnwrapArrayBuffer, [these functions](https://github.com/servo/mozjs/blob/3f38435122538e4b66f88878302f81331c0b6a44/mozjs/js/src/jsfriendapi.h#L2157-L2177),

[2018-03-26 05:38] #405 closed

[2018-03-26 12:22] jdm opened #411 "Add some tests for default-initialized roots"
https://github.com/servo/rust-mozjs/pull/410/ added new functionality, but we don't have any tests that exercise it yet. We should add some to https://github.com/servo/rust-mozjs/blob/master/tests/rooting.rs.

[2018-03-27 22:15] #153 closed

[2018-03-27 23:18] jdm opened #416 "Typedarray test sometimes unwraps an error result"
From an appveyor run:
[code]

[2018-03-29 05:27] jdm opened #417 "Add a debug mode for Heap<T> that can detect some invalid moves of Heap objects"
If we add a `Cell<*mut Self>` member to `Heap<T>` that is conditionally compiled, initialize it to null, and set it to `self as *const Self` whenever `Heap::set` is invoked, we can assert that the cell value is either null or equal to `self as *const Self`. This will automatically assert any time that a Heap value is set to a non-default value, moved (thus invalidating the pointer stored by SM), a

[2018-03-31 18:20] erickosamudera commented on #411
Hi, I'm very interested in learning Rust by working on this issue.
I have cloned the repository and run `cargo test` on the code, but I'm still not sure what to test in src/rust.rs and what to assert in tests/rooting.rs

Are there some materials or pointers I can read first before taking this task? Thank you very much for your help.

[2018-04-03 12:40] nox opened #418 "Introduce TypedArray::len"
This method could be safe and we could avoid some unnecessary conversions to `Vec<T>` this way. Cc @Xanewok

[2018-04-03 13:20] nox commented on #418
Oh yes, didn't even notice this exists.

[2018-06-07 03:01] dudochkin-victor opened #429 "Linux compilation failed"
Both crates is build, mozjs test passed succesfull, but rust-mozjs failed.
There are lot of 'undefined reference to' when i try to run tests.
Example:
/home/blacksmith/.cargo/registry/src/github.com-1ecc6299db9ec823/mozjs_sys-0.51.1/mozjs/js/src/jit/IonBuilder.cpp:14442: undefined reference to `js::jit::CompileCompartment::runtime()'

Also
warning: cc1plus: warning: unrecognized command line optio

[2018-07-10 15:16] tasogare3710 commented on #359
I succeeded in building mozjs_sys and mozjs with msvc, but needed some little environmental variable change and GunWin32's make.

The mozjs readme has the following, but ...

- - -
3. Set the MOZTOOLS_PATH environment variable to point to the tools from the Mozilla Build Package:

[code]
- - -
I have changed this as follows.

[code]

Then install GnuWin32 and add `<install_dir>\GnuWin32\bin` to th

[2018-07-13 20:03] asajeffrey opened #433 "Runtime configuration options?"
Currently we hard-wire a lot of configuration options, we should think about an API for setting them.

[2018-07-24 17:40] jdm commented on #411
@ergunsh That would be great! Please ask questions if anything is unclear :)

[2018-07-28 13:11] ergunsh commented on #411
Hey!

I have two questions:
1 - As far as I understand, newly added macro waits `Default` trait implemented. However, the types you have said in https://github.com/servo/rust-mozjs/issues/411#issuecomment-404350995 doesn't implement it. Do I miss a point 😅

 2- When I've tried with `JSVal` which implements `Default` trait; it also didn't work and compiler said `expression expected` instead of type

[2018-07-28 14:13] jdm commented on #411
1. No, it just means that we should implement the Default trait for those types that evaluates to a null pointer
2. Feel free to update the macro if that makes it work!

[2018-08-06 14:59] ergunsh commented on #411
Sorry for my inactivity; I have tried something but it didn't work out. Is there a usage example where the newly added macro is used?

[2018-08-07 14:15] jdm commented on #411
I don't think we ended up using it after it was added.

[2018-08-21 22:22] paddywwoof opened #435 "building servo on ubuntu 16.04 fails at mozjs"
not clear how this error can be fixed without altering the source.
[code]

[2018-08-22 02:09] jdm commented on #435
This is caused by a too-old version of llvm being used for libclang. Replacing it with a newer version should make it go away.

[2018-08-22 11:32] Neurrone opened #436 "Better documentation"
Hi,

I've just started learning how to use these bindings, and a lot of what I learnt was purely from reading the tests. Having at least the methods in the rust module documented would be really helpful, together with tutorials for getting started.

For example, the runtime struct appears to do JS_Init, the creation of the runtime and also assigning a context to it, which I investigated because th

[2018-08-22 13:33] jdm commented on #436
Yeah, our documentation builds have been failing for some time so they haven't caught up to the most recent mammoth upgrade to this crate.

[2018-08-23 03:07] Neurrone commented on #436
Ah. Could you describe what changed? Also, are there higher level ways of
doing things like exposing rust functions to js?

On Wed, Aug 22, 2018 at 9:33 PM Josh Matthews <notifications@github.com>
wrote:

[2018-08-23 03:34] jdm commented on #436
We upgraded from a version of SpiderMonkey that was two years old. A huge amount changed, unfortunately.

[2018-08-26 10:00] Neurrone commented on #436
@jdm does Servo or any other Mozilla project use this internally? I'm trying to find out how to easily expose functions and objects to js, so examples of how this is used would be great.

[2018-08-26 13:04] jdm commented on #436
I think the unit tests in this repository might be enough to get you started, however.

[2018-09-22 16:39] Neurrone commented on #436
Hi,

I'm trying to create a function that returns the result of compiling a script using `jsapi_wrapped::compile1` without having it GCed.

* How do I create the `Rust::MutableHandleScript` handle? Do I need to root it to prevent GC, convert it into a mutable handle, then return the rooted script? Something like

[code]

* I noticed that the `mozjs::rooted!` macro expands in this case to

[code]

[2018-09-23 07:50] Neurrone commented on #436
Also, how do you store a RootGuard for the global object in a struct to prevent garbage collection?

The global is created with

[code]

Attempting to store `global_root` causes a missing lifetime error.

[2018-10-03 14:05] jdm commented on #435
Oh, this may be caused by a version of clang that is less than 3.9.

[2018-10-04 12:24] jdm opened #441 "Parent/call/construct arguments to NewProxyObject are unused"
We should remove them and clean up the callers in Servo's code.

[2018-10-14 22:32] jeremyjh opened #442 "Cannot create second runtime."
It seems `Runtime::new` can be called successfully only once on a thread.

I get the `Err` result calling it a second time. This is on 0.9.2 on nightly-2018-10-12 on MacOS High Sierra.

Running this test passes if assign() is called once, fails when called twice.
[code]

[2018-10-15 16:39] jdm commented on #442
This is caused by [this code](https://github.com/servo/rust-mozjs/blob/59a69a0c96630da85eefa1c177ee62af6b8cb4ca/src/rust.rs#L266-L270).

[2018-10-15 22:15] jeremyjh commented on #442
Would it not be safe to create a new runtime on the second invocation? It seems the direct culprit is [here](https://github.com/servo/rust-mozjs/blob/59a69a0c96630da85eefa1c177ee62af6b8cb4ca/src/rust.rs#L151), but why is that needed?

[2018-10-15 22:28] jdm commented on #442
[This](https://searchfox.org/mozilla-central/rev/c9272ef398954288525e37196eada1e5a93d93bf/js/public/Initialization.h#143-145) is why we can't just start up the runtime again when we've previously called JS_ShutDown.

[2018-10-15 22:29] jeremyjh commented on #442
I'm good with that as a constraint but I do need to be able to create multiple runtimes, that should be possible right?

I tried adding this as the first line to the test so that the runtime count does not drop to 0 but that results in a SEGV.
[code]

[2018-10-15 22:30] jdm commented on #442
Which is not to say that I would not accept pull requests to address this issue; just that https://github.com/servo/rust-mozjs/pull/344 was introduced to ensure that the runtime did actually shut down when there is no clear synchronization point when multiple threads are in use.

[2018-10-15 22:31] jdm commented on #442
The easiest way to deal with your situation would be to create a global runtime that outlives every other one.

[2018-11-24 00:04] s-panferov opened #449 "Question: How to compile a module?"
Hello, I'm trying to implement my own toy JS runtime like `deno` on top of mozjs, but I got stuck. I cannot compile a module and extract a function from it:

[code]

After running this code `ids` len is 0. I expect it to contain at least "default" property. Could you please point to what I do wrong?

[2018-11-24 01:06] jdm commented on #449
We have not experimented with modules at all. You should probably ask the folks in #jsapi on irc.mozilla.org.

[2018-11-24 02:00] s-panferov commented on #449
@jdm I'm not sure that I can ask in terms of С++ :-( Ok, thanks

[2018-11-24 02:00] #449 closed

[2018-12-21 15:57] #441 closed

[2018-12-21 18:00] longwusha commented on #411
I try to implement the Default trait for those types that evaluates to a null pointer, like this:
[code]
After do that, I get some error message:
[code]

@jdm What should I do next ?

[2018-12-21 18:09] jdm commented on #411
You're right! However, it looks like instead of using Default we can rely on the GCMethods trait that already exists and has a `initial` static method: https://doc.servo.org/mozjs/rust/trait.GCMethods.html . Want to replace the implementation of the macro with that instead?

[2018-12-21 19:11] longwusha commented on #411
[GCMethods implement for JSVal](https://doc.servo.org/src/mozjs_sys/jsgc.rs.html#125)

default value for JSVal implement in mozjs_sys:
[code]

We can see that the initial value of JSVal is actually undefined, not the null that everyone expects. This can lead to many problems, such as:
[thread 'type_rooting' panicked at 'assertion failed: !parent_runtime.is_null()', src/rust.rs:175:17](https://trav

[2018-12-21 19:13] longwusha commented on #411
Is this default value specified by the js standard, should we change the default value of JSVal?

[2018-12-21 19:32] longwusha commented on #411
Ok, in this case, has this task been completed? Do you have time to review the code for me?

[2018-12-22 02:54] longwusha commented on #293
This problem should have been solved, now the macro rooted!  is only allowed in unsafe blocks, otherwise you will get a compilation error.

[2018-12-23 12:31] longwusha commented on #411
@jdm

The code to solve this problem has been successfully merged, now we can close this issue.

[2018-12-23 13:32] #411 closed

[2019-02-06 14:18] aditj commented on #406
@jdm  Can I work on this in a attempt to fix servo issue [#20417](https://github.com/servo/servo/issues/20417)

[2019-02-06 14:22] aditj commented on #406
Also if yes, can you maybe tell me if there a dxr tree for the same? :grin:  :sweat_smile:

[2019-02-06 14:25] jdm commented on #406
Absolutely. I'm pretty sure the answer to your DXR question is no, though, since the version of mozjs that we're using is at least 6 months older than the version in DXR/searchfox.

[2019-02-08 16:52] aditj commented on #406
@jdm Should I start by creating a macro rule for creating DataView element (like the one typed array element have)?

[2019-02-08 18:04] jdm commented on #406
Sure.

[2019-02-10 14:53] aditj commented on #406
@jdm
I think the DataView element would be similar to the typed array element ,any properties that you think should be added?
Also, should I also write DataView Array structure? (And create a seperate array_alias macro for DataView Array)

[2019-02-19 13:54] zrzka opened #452 "cargo test fails to build (linker error) on macOS"
I'm trying to use `mozjs` crate in one of my project and I'm encountering linker issues. It always fails with the following error message:

[code]

It has something to do with `cdylib`. Tried to create minimal reproducible example:

[code]

`src/lib.rs` contains just one line `use mozjs;`.

* `cargo build` - doesn't work (same error message)
* `cargo test` - doesn't work (same error message)

When

[2019-02-19 15:00] jdm commented on #452
I have never seen that error before :/

[2019-02-19 15:29] jdm commented on #406
@aditj I do not believe we need a separate DataViewArray structure. We should be able to use the existing TypedArray structure without any changes; we just need to define an implementation of TypedArrayElement and TypedArrayElementCreator that uses the DataView APIs.

[2019-02-21 06:57] zrzka commented on #452
There's another warning in error (did overlook it before), which says:

[code]

And lipo says:

[code]

[2019-02-21 07:33] zrzka commented on #452
Okay, had time to investigate more. I've found that the wrong `ar` (archiver) was used - because of the wrong `PATH`. Tools from different sources (system vs brew llvm vs brew binutils) were used.

There are two ways to fix this:

* `/usr/bin` should be first in `PATH`, not `/usr/local/bin`
* `brew uninstall llvm binutils`

Both ways works fine with `rlib` & `cdylib`. It was a problem on my side,

[2019-02-21 07:33] #452 closed

[2019-03-01 04:10] rohit-136 commented on #435
@jdm even after installing clang 6 by
wget -O - https://apt.llvm.org/llvm-snapshot.gpg.key | sudo apt-key add -
sudo apt-add-repository "deb http://apt.llvm.org/xenial/ llvm-toolchain-xenial-6.0 main"
sudo apt-get update
sudo apt-get install -y clang-6.0

clang --version
still shows version 3.8

any suggestions ?

[2019-03-01 04:35] rohit-136 commented on #435
I updated my clang version to version 6 but it still shows the same error.

[2019-03-01 04:45] jdm commented on #435
@rohit-136 In general, that means that you have an older version of clang that is being found before the updated version.

[2019-03-01 21:31] kubkon opened #454 "Out of memory error when synchronously loading Wasm"
This might be related to #403 but I'd assume that the update has since come from the upstream? Also, I'm not sure whether this repo is the best place to report this potential issue, or perhaps [servo/mozjs](https://github.com/servo/mozjs) would have been a better fit.

Anyhow, assuming that #403 has successfully been addressed, while playing a bit with standalone SP and rust bindings, I've come ac

[2019-03-01 21:52] jdm commented on #454
I strongly suspect you are missing [this runtime configuration](https://github.com/servo/servo/blob/d712b71660c6aaf66f2d397c0a02f7cf0ac361f3/components/script/script_runtime.rs#L390-L393).

[2019-03-02 05:15] rohit-136 commented on #435
@jdm I uninstalled clang 3.8 just to be sure and installed clang 6.0.1. The error persists even then.

[2019-03-02 06:48] kubkon commented on #454
@jdm Sweet, worked like a charm! Thanks a bunch! Man, I wish I posted a question here a tad bit sooner :wink: Anyhow, thanks again!

On a different yet somewhat related note, would you welcome any help with some more extensive docs? Say, guides, or examples in the actual rust-docs? If so, I'd be happy to spend some time on this and submit a couple of PRs.

[2019-03-02 06:48] #454 closed

[2019-03-02 13:41] jdm commented on #454
We would be very grateful for documentation improvements!

[2019-04-26 21:10] jdm opened #460 "Set up clang-cl for appveyor"
We're missing it, so we're missing early coverage of changes before we try to integrate them into servo.

[2019-04-29 21:44] jdm opened #462 "Custom auto rooter test crashes on windows 86"
The crash occurs during the call to JS_GC, which suggests that the AutoGCRooter structure or CustomAutoRooter vtable is not correct for that arch.

[2019-04-29 21:44] jdm commented on #462
It does not crash on macOS x86.

[2019-04-30 15:41] #460 closed

[2019-07-22 16:43] jdm opened #466 "JSCLASS_GLOBAL_SLOT_COUNT doesn't match C++ definition"
https://searchfox.org/mozilla-central/rev/4436573fa3d5c4311822090e188504c10c916c6f/js/public/Class.h#841-842
https://github.com/servo/rust-mozjs/blob/124e5243a02ddaa879f2988313cee738c435f8b1/src/consts.rs#L26-L27

[2019-08-08 17:35] karlhelgason commented on #462
Visual C++ on x86 arch uses "thiscall" call convention for member functions.

The struct CustomAutoRooterVFTable as defined in
https://github.com/servo/mozjs/blob/master/src/jsgc.rs
is missing "thiscall" for x86 windows.

Unfortunately thiscall is only available in unstable rust
https://github.com/rust-lang/rust/issues/42202

[code]

[2019-09-19 08:12] caracal7 opened #472 "OSX build failed"
OSX 10.13.16 High Sierra

Cargo.toml
[code]
main.rs
[code]
result
[code]

[2019-09-19 12:48] jdm commented on #472
I'm not sure exactly why it's not working, but if you use an override for mozjs_sys and add `--disable-icu` to https://github.com/servo/mozjs/blob/master/makefile.cargo#L6 then it should build.

[2019-09-19 14:14] caracal7 commented on #472
I have `Unknown option: --disable-icu`
[code]

[2019-09-19 14:20] jdm commented on #472
Ah, sorry, try `--disable-intl`.

[2019-09-19 14:24] caracal7 commented on #472
Anyway 🤗

[code]

[2019-09-19 14:35] jdm commented on #472
Ok, so it turns out I was thinking of `--without-intl-api` (https://github.com/servo/mozjs/blob/99952b4e799a9b2d7647176d6f2d94d78e642b7e/makefile.cargo#L21).

[2019-09-19 16:17] caracal7 commented on #472
Everything is working
Thanks a lot)

[2019-09-19 16:17] #472 closed

[2019-09-19 16:43] caracal7 opened #473 "How to return string from JS?"
This makes me crazy((
All examples seems outdated and test didn't contain anything about strings...

Most closest way that I found is
[code]

but I've got errors😑

[code]

[2019-09-19 17:22] jdm commented on #473
* If you import `js::rust::wrappers::JS_EncodeStringToUtf8` instead of `js::jsapi::JS_EncodeStringToUtf8`, that should address the first error.
* to get a string from a JSVal, use the FromJSValConvertible implementation, String::from_jsval: https://github.com/servo/rust-mozjs/blob/master/src/conversions.rs#L494

[2019-10-11 09:27] nox opened #484 "Clean up the glue"
So this crate has a `jsglue.cpp` file, yet another one, with more stuff than the one in `servo/mozjs`, but mostly duplicated stuff. It has corresponding bindings in `glue.rs`, but this file is not generated by bindgen during the build, it's just sitting there in the repo, never regenerated, so it may not even be in sync anymore. The instructions to build it are a comment with hardcoded paths in th

[2019-10-11 16:15] asajeffrey commented on #484
Well the big picture "why have a glue.cpp file at all" is because bindgen has a hard time with C++ APIs, especially on windows where the ABI is :man_shrugging:. Since jsapi is very keen on C++ idioms we then have to put them back into C-like function calls that bindgen is happier with.

That said, the split between the `mozjs_sys` crate and the `mozjs` crate is rather arbitrary, and probably in ne

[2019-10-11 16:31] nox commented on #484
I feel like this script using `grep` and `sed` and generating macro calls is a failed experiment, and the technical debt wouldn't exist if we finally reached the conclusion that those bridges and safe wrappers (e.g. those additional lifetimes) just cannot be automated.

Would it really be that horrible if we just wrote such safe wrappers on demand, whenever we need a new API, rather than trying to

[2019-10-11 16:43] jdm commented on #484
My experience updating spidermonkey with the checked in wrapper files is that the compiler complains when there are invalid wrappers, so there is not actually a risk of drift.

[2019-10-11 16:44] asajeffrey commented on #484
Do you mean get rid of the macros, or get rid of the shell script?

[2019-10-11 17:04] nox commented on #484
But those wrappers aren't actually idiomatic, so if we actually wanted to have bindings that don't lead to a miserable experience, we would still need to write code by hand, at which point why do this weird grep/sed stuff?

I guess a good compromise would be to retcon the `.in` files as if they had always been written by hand, delete the shell script, and add future wrappers by hand in there?

[2019-11-17 14:47] jdm opened #486 "Expose bindings for JSAutoNullableRealm"
https://github.com/servo/mozjs/blob/b2f83932fe9d361face14efd03f2465b9262e687/mozjs/js/src/jsapi.h#L520-L530

[2019-11-17 14:48] jdm commented on #486
This is important for supporting streaming web assembly compilation, where we need to enter a realm before invoking the JS runnable but there's no clue which realm is the correct one to enter.

[2019-11-17 14:48] jdm commented on #486
This is used by Gecko in https://searchfox.org/mozilla-central/rev/492214c05cde6e6db5feff9465ece4920400acc3/dom/script/ScriptSettings.cpp#296 for example.

[2020-01-06 15:32] CYBAI opened #490 "Add a method to receive a vec of bits and return with SourceText"
In servo/servo#23545, we created a method to receive `&[u16]` and return `SourceText<u16>`.

It would be better to have the method inside mozjs so that we can just pass the data and get SourceText via the method from mozjs.

See https://github.com/servo/servo/pull/23545#discussion_r348290379 and https://github.com/servo/servo/pull/23545/files#diff-3fe97584f564214ec8e7ebbf91747e03R75-R82

[2020-01-08 14:50] jdm opened #491 "Extract InCompartment API helper from Servo"
https://github.com/servo/servo/blob/da559d47b93854e4c7d4acf0a0d2029a9e643794/components/script/compartments.rs

We should bring the AlreadyInCompartment and InCompartment types into this crate (renaming them to AlreadyInRealm and InRealm in the process), and make the `assert` method take a `*mut JSObject` object instead. This will allow us to add a `InCompartment` argument to [ToJSValConvertible](

[2020-01-08 14:51] jdm commented on #491
We could also add it to the typed array construction API in https://github.com/servo/rust-mozjs/blob/9b0d063ba062f4cc60c3bab9250218d6935d647b/src/typedarray.rs#L268.

[2020-02-11 10:42] nox commented on #484
Doing the smup, I realise that all these wrappers are *hindering* me in CodegenRust.py, they are not helping.

[2020-02-11 10:50] nox commented on #484
Like, wrappers for `JS_DefineProperty`, on one side we need to wrap `RawHandleObject` as `HandleObject`, and on the other we need to unwrap `SafeJSContext` as `*mut JSContext`, I do not like this.

[2020-04-04 19:01] andrieshiemstra opened #503 "Plans for publishing a new version?"
Hi,

Do you have any plans to publish a new version on crates.io?

Kind regards

[2020-04-04 21:22] jdm commented on #503
We cannot, because of https://github.com/rust-lang/cargo/issues/6917.

[2020-04-04 21:22] #503 closed

[2020-04-25 13:39] CYBAI commented on #490
Fixed in #497

[2020-04-25 13:39] #490 closed

[2020-04-28 16:19] jdm opened #507 "Implement a wrapper around DescribeScriptedCaller"
https://searchfox.org/mozilla-central/rev/158bac3df3a1890da55bdb6ffdaf9a7ffc0bfb0a/js/src/jsapi.h#2783-2804

This API takes a JS::AutoFilename argument, and implementing a Rust wrapper around just that type would require duplicating C++ logic in https://searchfox.org/mozilla-central/rev/158bac3df3a1890da55bdb6ffdaf9a7ffc0bfb0a/js/src/jsapi.cpp#5512-5549 which is a waste. Much better to write a sma

[2020-04-28 23:29] #507 closed

[2020-04-29 01:26] jdm commented on #228
This works now.

[2020-04-29 01:26] #228 closed

[2020-04-29 01:26] jdm commented on #215
Bindings are generated automatically.

[2020-04-29 01:26] #215 closed

[2020-04-29 01:28] jdm opened #509 "Intermittent segfault in tests"
[code]

[2020-06-24 14:36] jdm opened #514 "String conversion should use linear strings"
[code]

[2020-06-24 15:19] jdm commented on #514
This unit test currently passes without this change, so I'm not entirely clear on whether the lack of linear strings is hurting us:
[code]

[2020-07-19 02:57] CYBAI opened #516 "Microsoft documentation link of cpp return value is 404"
Btw, I just noticed the Microsoft documentation link in [line 1072](https://github.com/servo/rust-mozjs/pull/515/files#diff-0c2f4ced2d2186c7a57c783c523a42c1R1072) is 404 now.

I tried to search it but looks like I can't find exactly same one.

- https://docs.microsoft.com/en-us/cpp/code-quality/annotating-function-parameters-and-return-values?view=vs-2019
- https://docs.microsoft.com/en-us/cpp/cpp

[2020-07-20 13:07] jdm commented on #516
https://docs.microsoft.com/en-us/cpp/build/x64-calling-convention?view=vs-2019#return-values looks like an appropriate replacement.

[2020-07-22 15:29] jdm opened #518 "CompileOptionsWrapper::new should accept a &str instead of a C string pointer"
It's too easy to misuse, otherwise. We can do the rust->c string conversion inside the constructor.

[2020-07-22 15:30] jdm commented on #518
https://github.com/servo/rust-mozjs/blob/5a50c377a4e1f55abc1286b74100a4cc35adc789/src/rust.rs#L928

[2020-07-22 15:35] jdm opened #519 "Remove unsafe Handle::new API"
https://github.com/servo/rust-mozjs/blob/5a50c377a4e1f55abc1286b74100a4cc35adc789/src/rust.rs#L771-L773

[2020-07-22 15:48] jdm commented on #519
Specifically, if you have something like:
[code]
It's not clear to me if the result is meaningful. We should check what code uses this API in Servo.

[2020-07-22 15:56] CYBAI commented on #519
I did a quick search and looks like we only use it in `components/script/webdriver_handlers.rs` 👀

<img width="497" alt="image" src="https://user-images.githubusercontent.com/6782666/88198942-39272100-cc7f-11ea-866a-19ff1f761d60.png">

[2020-07-22 16:05] CYBAI commented on #519
Hmm, looks like this one can be rewritten as `.handle()`? 🤔

https://github.com/servo/servo/blob/6a9aac3e654d4498c8c2605ebe8a24b609770e21/components/script/webdriver_handlers.rs#L251-L259

[2020-07-22 16:18] jdm commented on #519
I agree. And I think one clear source of unsafety from this API right now is:
[code]
We should definitely remove it.

[2020-07-27 03:10] nicoabie commented on #518
@highfive: assign me

[2020-07-27 03:12] nicoabie commented on #518
PR https://github.com/servo/rust-mozjs/pull/520 addresses this issue.

[2020-07-29 11:42] supra08 commented on #519
Hi @jdm I am looking towards contributing to this project. Would like to take this up as the first issue.

[2020-07-29 12:02] jdm commented on #519
@supra08 That would be great!

[2020-07-31 15:38] #518 closed

[2020-08-25 13:58] CYBAI commented on #519
I just saw @supra08 asked a question to @jdm about `what "remove" means` here. I wanted to answer the question that it actually means just remove the `pub fn new` function for `Handle` type.

However, I just noticed

https://github.com/servo/rust-mozjs/blob/5a50c377a4e1f55abc1286b74100a4cc35adc789/src/rust.rs#L771-L781

`Handle::new` will be called by `Handle::from_marked_location` and `Handle::fr

[2020-08-25 14:05] sudarshan-reddy commented on #519
Ah noted. I noticed the usage of from_raw as well and hence asked the question. Also noticed my user name seemed similar to @supra08 . Haha. I wanted to pick it up since it seemed inactive and I had free time.

Will wait on what you guys deem is the right way to remove it and submit a PR.

[2020-08-25 14:08] jdm commented on #519
We still need to be able to create Handle values from from_marked_location and from_raw. It's really the fact that new is unsafe that makes it dangerous for outside code. Let's make the `new` method private, since it's important for `RootedGuard::handle()`.

[2020-08-25 14:15] CYBAI commented on #519
oops, sorry, I didn't notice that's not your account 😂

[2020-08-25 14:20] sudarshan-reddy commented on #519
Noting for posterity that the usage of New under pub handle() implementations (here for example https://github.com/servo/rust-mozjs/blob/master)/src/rust.rs#L507 seems safe like @CYBAI indicated earlier as well.

[2020-08-25 14:47] sudarshan-reddy commented on #519
https://github.com/servo/rust-mozjs/pull/523 addresses this. Build and tests passed locally. I felt it would be gratuitous to add a test to just marking a function private but tried to give a reasonably detailed commit message.

Do let me know if you guys think this works. I'm happy to take any feedback and pointers you have as well.

[2020-08-25 19:07] jdm opened #524 "Docs link for example doesn't work"
The links for "A minimal example" and "Running scripts" in https://doc.servo.org/mozjs/ don't lead somewhere useful. That's [this code](https://github.com/servo/rust-mozjs/blob/e9f71b6458135c1e63fee9261dabcd8c3efa6ccf/src/lib.rs#L18-L19), and is expected to go to the files in https://github.com/servo/rust-mozjs/tree/master/examples.

[2020-08-26 02:21] CYBAI commented on #519
This is fixed by #523

[2020-08-26 08:05] sudarshan-reddy commented on #519
@jdm , @CYBAI : Is the next step to re-write components/script/webdriver_handlers.rs?

[2020-08-26 08:42] CYBAI commented on #519
Yes! As mentioned in https://github.com/servo/rust-mozjs/issues/519#issuecomment-662541274, also another thing you will need to do is updating the `rust-mozjs` revision to support "private Handle::new".

[2020-08-26 09:18] sudarshan-reddy commented on #519
Sure thing @CYBAI . You mean the `rust-mozjs` rev that's used by `servo` correct?

[2020-08-26 09:57] CYBAI commented on #519
Yes

[2020-08-26 10:03] sudarshan-reddy commented on #519
Would I need to make a new issue on `servo` or use this one?

[2020-08-26 10:33] jdm commented on #519
Continuing to use this one sounds fine.

[2020-08-26 13:36] sudarshan-reddy commented on #519
So I updated servo and and changed the call to a `.handle()`. However, I ran into a bunch of compilation errors all which seem related to bindings.

[code]

I noticed there's a moz_sys update as well (mozjs_sys v0.68.2). Will spend some time tomorrow to troubleshoot this and send in a PR.

[2020-08-28 08:30] sudarshan-reddy commented on #519
@jdm , @CYBAI I discovered the root cause for the second error. (I think).

[This change](https://github.com/servo/rust-mozjs/commit/831e7a390d2747bb18bef2dbc00e98ec583a2744#diff-35945a21f6ff748785df78b85fae7072R244) adds 2 more fields to NewProxyObject (classp and singleton) but the code generator [here](https://github.com/servo/servo/blob/master/components/script/dom/bindings/codegen/CodegenRust

[2020-08-28 08:59] sudarshan-reddy commented on #519
The fix for the 1st error seems easy (ref: https://github.com/servo/rust-mozjs/commit/38b7857704436a1c8ee4b5b96e62a16ecbb5293d). I just have to rewrite the `as_ptr()` to `&str` like shown in this PR.

[2020-08-28 09:09] CYBAI commented on #519
I think maybe it's worth filing a new issue in Servo because you will need to upgrade mozjs that you will need to fix both the `CompileOptionsWrapper` change and the `NewProxyObject` change in the mean while.

[2020-08-28 14:51] CYBAI commented on #519
@sudarshan-reddy thanks a lot for fixing this and shipping it into Servo! I think this issue can be closed now :)

[2020-08-28 14:54] #519 closed

[2020-08-28 15:53] sudarshan-reddy commented on #519
Thanks for all the help @CYBAI  and @jdm . I'll try picking up a new one tomorrow.

[2021-02-21 00:43] jdm opened #530 "Windows github workflow is broken"
[code]

[2021-02-21 23:44] #530 closed

[2021-03-16 08:58] Redfire75369 opened #538 "Issue with Building in GitHub Actions CI"
I have started a new project embedding spidermonkey. Using the [workflow](https://github.com/servo/rust-mozjs/blob/maste/.github/workflows/rust.yml) in this project as a base, I created a GitHub workflow to test builds on 3 platforms.

However, of these three test builds, only the [MacOS](https://github.com/Redfire75369/spiderfire/runs/2112987217?check_suite_focus=true) build completed successfull

[2021-03-16 09:05] sagudev commented on #538
Hm, your cargo.lock file says you are using old version of this repo. Try cargo update, and make sure workflow files are identical.

[2021-03-16 09:19] Redfire75369 commented on #538
I am aware that the version in `Cargo.lock` is outdated. Those who have cloned my repository have experienced improved results with `cargo update`. However, I do not see any reason that using the same version of `rust-mozjs` could result in different build results.

[2021-03-16 09:27] sagudev commented on #538
I did quick check and your rust-mozjs commit was from the time there was no workflow in this repo. Current workflows are meant to be for newer versions because of PYTHON2 and other deps. So use exact workflow and latest revision and it would work. You can check this repos actions for proof.

[2021-03-16 10:37] Redfire75369 commented on #538
Ran `cargo update` and Windows build is failing locally now: https://paste.mozilla.org/nYmPUMBq

[2021-03-16 12:44] sagudev commented on #538
I update in my fork: https://github.com/sagudev/spiderfire/runs/2121356009?check_suite_focus=true
the only problem is different ModuleEvaluate function. Will send you PR.

[2021-03-16 12:55] Redfire75369 opened #539 "Docs on doc.servo.org are outdated"
https://doc.servo.org/mozjs/jsapi/fn.ModuleEvaluate.html shows only 2 parameters.
However, according to `cargo doc` and the rust compiler, it has 3 parameters.

New Method Signature:
[code]

[2021-03-16 12:57] sagudev commented on #539
This is due to https://github.com/servo/rust-mozjs/pull/535 which was merged today, but I do not know how docs are updated on site.

[2021-03-16 13:10] jdm commented on #539
The docs are updated every time a PR is merged to servo/servo. No way to avoid this, unfortunately.

[2021-03-16 13:10] #539 closed

[2021-03-16 13:12] jdm commented on #538
Sounds like this is solved.

[2021-03-16 13:12] #538 closed

[2021-03-17 11:13] Redfire75369 commented on #538
The issue with the workflows has been fixed, but the issue with a local windows build is still occuring.
See: https://gist.githubusercontent.com/Redfire75369/0c0573d3aeb6d66afcd709b5d0d07f3d/raw/dd11757a5809e2856c7eb15a9bd7c3402e1f8c0b/output.log

[2021-03-17 11:16] sagudev commented on #538
Something is wrong with clang or vsbuild. Do you have both installed? Try to replicate workflow for windows on your pc.

[2021-03-17 11:36] Redfire75369 commented on #538
I just updated VSBuild so i don't think it's that, i'll try reinstalling/updating Clang

[2021-03-17 11:37] sagudev commented on #538
Do not forget MozillaBuild.

[2021-03-17 13:10] jdm commented on #538
Set CXX and CC to clang-cl; building with cl directly is unsupported.

[2021-03-17 13:19] Redfire75369 commented on #538
Might have to update this then? https://github.com/servo/mozjs/blob/master/README.md

[2021-03-17 13:45] Redfire75369 commented on #538
Good News: Build works properly now

[2021-06-30 05:09] Redfire75369 opened #544 "Property Key Methods"
Currently, there is no way to convert a `PropertyKey` to a `*mut JSString` because the methods on `PropertyKey` are not wrapped.
In the [definition of PropertyKey](https://searchfox.org/mozilla-central/source/js/public/Id.h#51), there are methods such as `isString` and `toString`, which would be helpful.

I am currently trying to implement a function which would output all of an object's keys as a

[2021-06-30 11:23] jdm commented on #544
As far as I know inline methods like this need to be reimplemented in Rust code. PRs welcome!

[2021-07-03 12:02] Redfire75369 opened #545 "Optional Conversions to and from Values"
I will be working on a pull request for this soon, but decided to ask here for any comments first.

This issue involves adding an `impl<T: ToJSValConvertible> ToJSValConvertible for Option<T>` and `impl<T: FromJSValConvertible> FromJSValConvertible for Option<T>`.

## Reason
This will be helpful for creating methods with optional parameters, such as `console.assert`, and more closely allow for the

[2021-07-03 12:15] jdm commented on #545
These changes sound reasonable!

[2021-07-04 08:32] Redfire75369 opened #546 "Exports of mozjs_sys::jsgc::*"
`RootedGuard<'_, T>` requires that T implement `mozjs_sys::jsgc::RootKind`.

This issues involves exporting `mozjs_sys::jsgc::*` in `mozjs`.

## Reason
Currently, I am unable to create a generic function that does this as this struct is not exported by `mozjs`. This will be useful for creating utility functions to set a value without requiring you to manually convert it using `ToJSValConvertible`.

[2021-07-04 15:12] Redfire75369 commented on #545
I am looking through the code currently, and it seems that both of those are already implemented. However, it also seems that `ToJSValConvertible` for `None` returns `null`, instead of `undefined`. This behaviour may need to be reconsidered.

[2021-07-04 16:21] jdm commented on #545
Oh, that's a good point. Changing that would almost certainly imapact web-visible code in Servo, and I think the current behaviour makes sense. You could try creating a `struct Undefinable<T>(Option<T>)` and implement ToJSValConvertible for Undefinable in your own crate.

[2021-07-04 16:34] jdm commented on #546
mozjs_sys is a separate crate at https://github.com/servo/mozjs/blob/ef986b1a2c23081fe4d37aeaab5323d3dec033f3/src/jsgc.rs#L20, so you can depend on that without changing this crate.

[2021-07-04 17:31] Redfire75369 commented on #545
I think I shall leave the behaviour as it stands currently, and add `Nullable<T>` and `Undefinable<T>` if I require, later.
Null is something that does not exist and is returned explicitly (generally), while undefined is something that does not exist and is returned implicitly (e.g. function with no return statement). It makes sense that explicitly returning a `Option<T>` from rust, would result i

[2021-07-04 17:31] #545 closed

[2021-07-04 18:52] #524 closed

[2021-08-01 09:03] Redfire75369 commented on #546
It is possible to depend on both simultaneously, but due to `mozjs` depending `mozjs_sys` as well, you have to specify the exact commit of `mozjs_sys` that your current `mozjs` uses, which means it is more difficult to update `mozjs`.

[2021-08-08 08:09] Redfire75369 opened #551 "JS Function Methods"
Similar to #544. The methods such as `isNativeFun` for `JSFunction` are not available. Thus, there is no way to check if a `JSFunction` is native, only if the function is native *and* is equal to a given native function.

[2021-11-16 19:28] lincolnauster opened #553 "Links to the user guide and other documentation are broken"
[The docs](https://doc.servo.org/mozjs/) link an API Reference and a User Guide, both of which 404. What should they point to?

[2021-11-17 04:48] sagudev commented on #553
https://doc.servo.org/mozjs/ worsk for me.

[2021-11-17 04:53] lincolnauster commented on #553
Sorry, I should've been more clear. It's the links *from* that page, not
the link *to* that page. Here are the precise 404's I observed:

+ https://developer.mozilla.org/en-US/docs/Mozilla/Projects/SpiderMonkey
+ https://developer.mozilla.org/en-US/docs/Mozilla/Projects/SpiderMonkey/JSAPI_reference
+ https://developer.mozilla.org/en-US/docs/Mozilla/Projects/SpiderMonkey/JSAPI_User_Guide

I assume

[2021-11-17 05:11] jdm commented on #553
The closest I've found so far is https://firefox-source-docs.mozilla.org/js/index.html, https://spidermonkey.dev/docs/, and https://github.com/mozilla-spidermonkey/spidermonkey-embedding-examples/tree/esr78/docs .

[2021-11-17 05:15] sagudev commented on #553
IIRC they were moving from MDN for docs. Snapshots are at archive.org: https://web.archive.org/web/20210601152810/https://developer.mozilla.org/en-US/docs/Mozilla/Projects/SpiderMonkey

[2021-12-11 03:21] Redfire75369 opened #554 "Failure to build with sccache on Windows"
`rust-mozjs` (specifically `jsglue.cpp`) fails to build on Windows with [sccache](https://github.com/mozilla/sccache).
I have tested, and it has successfully built on Linux (WSL Debian).

### Setup
1. Install sccache (v0.2.15)
2. Run `set RUSTC_WRAPPER=sccache`, and `sccache --start-server`
3. Run `cargo clean --release`
4. Run `cargo build --release -vv > build.log`

Actual Output: https://paste.

[2021-12-11 16:38] jdm commented on #554
This sounds like an issue that should be filed against sccache instead.

[2022-08-27 08:47] Redfire75369 opened #558 "Branch for Latest Version"
Currently there is a pretty big issue with using rust-mozjs in the fact that its about 7 or so versions out of date, including ESR 102, I think it'd be nice to have a branch that has the latest version.

I know updating versions on the primary branch here requires an update of rust-mozjs on servo itself to be completed, which can be really difficult.

I think that this would be nice for projects o

[2022-08-27 13:06] jdm commented on #558
This is a reasonable point! I would be ok with merging upgrade Pars sooner and making branches for Servo if it becomes necessary, instead.

[2022-08-27 13:07] jdm commented on #558
I think the best short term outcome would be to merge the current upgrade PRs for both moxjs and rust-mozjs, then merge the repositories together toake future upgrades require less coordination.

[2022-08-27 13:12] Redfire75369 commented on #558
That's probably the best idea. Afterwards, the issue of either a servo branch or a next branch can be considered.
I guess the SM 97 merges still need to happen though. 😅

[2022-09-02 13:15] Redfire75369 commented on #544
I found this a while ago, but forgot to mention it. The functions `RUST_JSID_{IS,TO}_{INT,STRING}` and `RUST_JSID_IS_VOID` do exist, just not as a method on the `PropertyKey`.

[2022-09-09 13:37] #554 closed

[2022-09-09 13:38] Redfire75369 opened #559 "Failure in MacOS CI"
Currently, MacOS CI is failing. It seems to be due to an issue in `configure.py` but I have no idea what it could be.
<https://github.com/Redfire75369/rust-mozjs/runs/8271056707>

[2022-09-11 05:40] jdm commented on #559
Ah, this is the same issue as https://github.com/servo/servo/issues/28911 and needs to be addressed like https://github.com/servo/servo/pull/28960.

[2022-09-11 05:44] sagudev commented on #559
I smup might solve this issues.

[2022-09-11 05:45] jdm commented on #559
The windows errors look a bit like we may need an LLVM upgrade.
[code]

[2022-09-12 00:34] Redfire75369 commented on #559
I see upgrading LLVM fixed the windows builds, but I'm just wondering how it requires an llvm update even though the code didn't change.
How did the currently used llvm version start to not work, if the code is just the same?

[2022-09-12 04:36] jdm commented on #559
Because the MSVC installation in the CI environment is updated regularly, and those upgrades can include a new version of clang. However using bindgen in the build requires a full LLVM installation, which MSVC doesn't include, and so the version of LLVM that we install needs to remain in sync with the version that is present in MSVC.

[2022-09-12 04:40] jdm commented on #559
I think you're right. It may be a similar problem to https://bugzilla.mozilla.org/show_bug.cgi?id=1657717

[2022-09-15 04:46] Redfire75369 commented on #559
On another note, thanks for the information about MSVC in the CI.
It helped me realise why spiderfire's CI was failing, I didn't peg the version so it just went to LLVM 15. 😅

[2022-09-19 23:27] Redfire75369 commented on #559
From a first read through, I think this would require a patch to update `virtualenv` to 20.10.0?

[2022-09-20 03:49] yvt commented on #559
Looks like they attempted to bump `virtualenv` in <https://hg.mozilla.org/mozilla-central/rev/450e42238ace99a6e8ff5fc167b44c6a734e8e6d>, although it was [reverted](https://hg.mozilla.org/mozilla-central/rev/6abebb9fd86b180344e26ad90470135723d758c9) later due to [CI regressions](https://bugzilla.mozilla.org/show_bug.cgi?id=1776642#c5). I think we can just incorporate this patch until a reliable sol

[2022-11-01 05:23] Redfire75369 opened #563 "Updating Bindgen Instructions for Glue"
I was looking to add a wrapper for `JSExternalStringCallbacks` so it could be used for rust, and I've updated `jsglue.cpp` for it.

I was wondering how I can update `glue.rs` since it seems to be automatically generated. I was looking at the instructions in comments in `gen.py` but it seems to be very outdated.
[code]
I think it would be useful if we updated this so that anyone can modify `jsglue.

[2022-11-01 05:57] jdm commented on #563
I actually strongly suspect that glue.rs has not been automatically generated for many years, and is only updated by hand.

[2022-11-01 06:14] Redfire75369 commented on #563
Oh, that would certainly explain it.
It seems `gen.py` was last updated 10 years ago, which explains the wrong command line arguments and the usage of gcc 4.8.

[2022-11-01 06:22] Redfire75369 commented on #563
So far, the furthest I've gotten is, but that seems to maybe generate a bunch of stuff that's not needed?
[code]

[2022-11-09 02:19] ktfth opened #567 "Good First Issues"
I'm looking to contribute with this project, but I want to start with some guidance, and progress to more complex cases. @jdm can you help me to understand how to get started?

Thank from now

[2022-11-17 23:42] #544 closed